.header-main-page{
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px -2px #141313;
    position: relative;

}
.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.top-container i{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.top-container i:hover{
    cursor: pointer;
}
.top-container form{
    width: 150%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#searchbar{
    width: 100%;
    padding: 7px;
    padding-left: 15px;
    border-radius: 50px;
    border: none;
    background:lightgrey;
    
}
#searchbar:focus{
    outline: none;
}
h2.profile-name{
    color: rgb(21, 32, 43);
    font-size: 20px;
    font-weight: 600;
}
.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}
.profile-container *{
    margin-left: 10px;
}
.profile-container i{
    margin-right: 40px;

}
.profile-container i:hover{
    cursor: pointer;
}
.profile-container .profile-name{
    margin-top: auto;
    margin-bottom: auto;
}
.profile-pic{
    margin-top: auto;
    margin-bottom: auto;
    
}
.bottom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button-container .header-button{
    padding: 8px 18px;
    border-radius: 50px;
    border: none;
    background: rgb(21, 32, 43);
    color: white;
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}
.button-container .header-button:hover{
    cursor: pointer;
    color: rgb(21, 32, 43);
    background: lightgray;
    transition: all 0.3s ease-in-out;
}
.text-container{
    margin: auto;
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-container .name{
    color: rgb(21, 32, 43);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}