.header-main-page{
    display: flex;
    flex-direction:column;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px -2px #141313;
    max-width: 100%;
}
.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    box-sizing: border-box;
}
.top-container form{
    width: 100%;
}
.top-container .fa-bell{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.top-container .fa-search{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.top-container i:hover{
    cursor: pointer;
}
.search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#searchbar{
    width: 100%;
    padding: 7px;
    padding-left: 15px;
    border-radius: 50px;
    border: none;
    background:lightgrey;
}
#searchbar:focus{
    outline: none;
}
h2.profile-name{
    color: rgb(21, 32, 43);
    font-size: 20px;
    font-weight: 600;
}
.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    right: 0;
}
.profile-container *{
    margin-left: 10px;
}
.profile-container i{
    margin-right: 40px;

}
.profile-container i:hover{
    cursor: pointer;
}
.profile-container .profile-name{
    font-size: medium;
    margin-top: auto;
    margin-bottom: auto;
}
.profile-pic{
    margin-top: auto;
    margin-bottom: auto;
}
.bottom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button-container .header-button{
    padding: 8px 18px;
    border-radius: 50px;
    border: none;
    background: rgb(21, 32, 43);
    color: white;
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}
.button-container .header-button:hover{
    cursor: pointer;
    color: rgb(21, 32, 43);
    background: lightgray;
    transition: all 0.3s ease-in-out;
}
.text-container{
    margin: auto;
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-container .name{
    color: rgb(21, 32, 43);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

@media screen and (max-width:600px){
    body{
        padding: 0;
        margin: 0;
    }
    .top-container{
        flex-direction: column;
        margin: auto;
    }
    .top-container .fa-bell{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .search-container{
        align-items: center;
        margin: auto;
        justify-content: center;
        width: 100%;
    }
    #searchbar{
        width: 100%;
    }
    .profile-container{
        justify-content: inherit;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .bottom-container{
        justify-content: inherit;
        flex-direction: column;
    }
    .button-container{
        flex-direction: column;
    }
    .button-container .header-button{
        margin: 0;
        margin-bottom: 10px;
    }
    .text-container{
        justify-content: inherit;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:320px){
    .profile-container .profile-pic{
        display: none;
    }
}